body {
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
}

.container {

}

.nav-container {
	width: 100%;
}

.logo {
	position: fixed;
	top: 0px;
	color: #ffffff;
	width: 45px;
	height: 45px;
	left: 40px;
	border: dashed;
	text-align: center;
	z-index: 200;
}

.logo-inverted {
	color: #000000;
}

.logo:hover {
	border-color: #808080;
	color: #808080;
}

.initials {
	margin-top: 13px;
}

.nav {
	position: absolute;
	width: 100%;
	top: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #ffffff;
}

.nav-fixed {
	position: fixed;
	background-color: #000000;

}


a:link,
a:visited {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: #808080;
}

.cover-page {
	background-image: url('../images/car2.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	

	height: 100vh;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-direction: column;
	-webkit-justify-content: center;
	-webkit-align-items: center;

	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cover-text {
	text-align: center;
	font-weight: 300;
	font-size: 30pt;
	color: #ffffff;
	text-shadow: 2px 2px 10px #000000;
}

.long-text {
	width: 50%;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-weight: 400;
	font-size: 70pt;
	text-shadow: 2px 2px 10px #000000;
}

.down {
	height: 10%;
	width: 10%;
}

.down:hover {
	opacity: 0.5;
}

.the-end {
	padding-top: 100px;
	padding-bottom: 100px;
	width: 100%;
	margin: 0px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: #000000;
	color: #ffffff;
	text-decoration: underline;
} 